:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

.link:hover {
  color: var(--ocean);
}

.link:focus {
  color: var(--ocean);
}

.link {
  text-decoration: none;
}

.logo-web {
  color: var(--iris);
}

.logo {
  color: var(--navy-blue);
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  margin-right: 76px;
  padding: 24px 0;
}

.nav-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.contact {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-ul {
  color: var(--navy-blue);
  padding: 24px 0;
  display: inline-block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.main-button {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  background: var(--iris);
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover {
  background-color: var(--ocean);
}

.main-button:focus {
  background-color: var(--ocean);
}

.background-title {
  margin: 0 auto;

  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-people-office.jpg);

  padding: 188px 0;
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.icons-second-section {
  background-color: var(--cloud);
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
}

.third-headline-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.text-under-third-headline {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  width: 264px;
}

.second-headline-title {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-background {
  background-color: var(--cloud);
  padding-bottom: 120px;
  max-width: 1440px;
  margin: 0 auto;
}

.team-names {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  margin-bottom: 8px;
  background-color: var(--white);
  text-align: center;
}

.position-in-company {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
  text-align: center;
}

.social-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.svg-icons {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icons:hover {
  background-color: var(--ocean);
}

.svg-icons:focus {
  background-color: var(--ocean);
}

.svg-color {
  fill: var(--cloud);
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media:hover {
  background-color: var(--green);
}

.social-media:focus {
  background-color: var(--green);
}

.social-media-icons-footer {
  fill: var(--cloud);
}

.logo-web-footer {
  color: var(--iris);
}

.text-footer {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}

.all-footer {
  display: flex;
  justify-content: center;
  display: inline-block;
  margin-bottom: 16px;
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
}

.background-footer {
  background: var(--navy-blue);
  height: 312px;
  padding: 100px 0 100px;
}

.portfolio-buttons {
  color: var(--iris);
  background-color: var(--cloud);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons:hover {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--OCEAN, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-buttons:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--OCEAN, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.services {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.type-of-services {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.section {
  padding: 120px 0px 120px 0px;
}

.section-three {
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.ul-header {
  display: flex;
  gap: 40px;
}

.border-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.all-header {
  display: flex;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
  padding: 24px 0;
  display: flex;
  margin-left: 332px;
}

.header-address {
  display: flex;

  gap: 40px;
}

.third-headline-list {
  display: flex;

  gap: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.images-second-headline {
  display: flex;
  gap: 24px;
  box-shadow: none;
}

.img-border {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.people-second-headline {
  display: flex;
  gap: 24px;
}

.section-five {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-five:hover {
  color: var(--ocean);
  border-color: var(--ocean);
}

.section-five:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

.customers-list {
  display: flex;
  gap: 24px;
}

.svg-customers {
  fill: currentColor;
}

.customers-list-item {
  width: calc(100% - 120px / 6);
  height: 88px;
}

.img-person-position {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.photos-portfolio {
  display: flex;

  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.item {
  flex-basis: calc((100% - 48px) / 3);
}

.item-main-page {
  width: calc((100% - 72px) / 4);
}

.border-list-item {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: 0px;
  padding: 32px 16px;
}

.name-and-position {
  padding: 32px 0;
}

.item > img {
  width: 100%;
  height: auto;
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.studio-underline::after {
  content: "";
  background-color: var(--ocean);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: block;
  position: relative;
  top: 25px;
  bottom: -1px;
}

.icons-footer {
  display: flex;
  gap: 16px;
}

.headline-social-media {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.social-media {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  display: flex;
  align-items: baseline;
}

.logo-paragraph {
  margin-right: 120px;
}

.headline-icons {
  margin-left: 120px;
}

.portfolio-animation {
  position: relative;
  overflow: hidden;
}
.animation-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--cloud);
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  position: absolute;
  top: 0;
  transform: translateY(100%);
}

.item:hover .animation-text,
.item:focus .animation-text {
  animation-name: translateCard;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

@keyframes translateCard {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.item:hover .animation-text,
.item:focus .animation-text {
  animation-name: translateCard;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--navy-blue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: var(--dairy);
  transition-property: background-color;
  transition-duration: 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: var(--navy-blue);
  background-color: var(--cornflower);
  border-radius: 50%;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

label {
  display: flex;
  flex-direction: column;
}

.subscribe-footer {
  margin-left: 80px;
}

.text-subscribe {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.form-footer {
  display: flex;
  gap: 24px;
}

.input-footer {
  color: var(--white);
  font-size: 12px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

input::placeholder {
  color: var(--white);
}

.button-footer {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

.form-svg-footer {
  display: block;
  margin-left: 16px;
}

.modal-paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.form-modal {
  margin-bottom: 8px;
}

.label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.contact-modal {
  position: relative;
}

.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:hover,
.input-form:focus {
  border-color: #4d5ae5;
}

.input-form:hover + svg,
.input-form:focus + svg {
  fill: #4d5ae5;
}

.svg-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.comment-area {
  margin-bottom: 16px;
}

.textarea-form {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form:focus,
.textarea-form:hover {
  border-color: #4d5ae5;
}

.form-checkbox {
  margin-bottom: 24px;
}

.label-checkbox {
  display: inline;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.span-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.input-privacy:checked + .label-checkbox span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy {
  color: var(--iris);
}

.button-send {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
